<div class="modal fade" id="modal2" tabindex="-1"
      role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label1">再投稿する</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: @tweet,method: :post, url: "/tweets/#{params[:id]}/post_create", local:true,multipart: true do |f| %>
        <div class="modal-body">
          <div class="p-2">
            <p><%= f.label :label_old_tweet, "元投稿内容" %></p>
            <p><%= f.text_area  :text,maxlength: 140 ,:required => true, class: "form-control", rows: 4, value: @tweet.text %></p>
          </div>
          <div class="p-2 tweet-images">
            <p><%= f.label :label_show_image, "画像" %></p>
            <%= f.fields_for :media,  local: true  do |i| %>
              <%= image_tag i.object.media_url, class: "show_tweet_media m-1 img-preview" if i.object.media_url %>
              <%= i.file_field :media_url, value: i.object.media_url, multiple: true, class: "tweet-img-file" %>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "再投稿する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>