<h1>tweet一覧表示</h1>
<table class="table table-striped text-center table_index" >
  <thead>
    <tr>
      <th scope="col "></th>
      <th scope="col ">投稿日時</th>
      <th scope="col">投稿内容</th>
      <th scope="col ">投稿画像</th>
      <th scope="col ">リツイート</th>
      <th scope="col ">いいね</th>
      <th scope="col "></th>
    </tr>
  </thead>
  <tbody >
    <%@tweets.each do |tweet|%>
      <tr>
        <%= render partial: 'flag_btn', locals: { tweet: tweet }%>
        <td ><%= l tweet.tweet_created_at, format: :short%></td>
        <td class="box-read"><%= tweet.text %></td>
        <td class="media-row" >
          <% tweet.media.each do |media| %>
            <%= image_tag media.media_url.to_s,class: "tweet_media m-1 " %>
          <% end %>
        </td>
        <td><%= tweet.retweet_count%></td>
        <td><%= tweet.favorite_count%></td>
        <td><%= link_to "詳細", tweet,class:"btn btn-success my-auto"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tweets%>
