<h1>tweet一覧表示</h1>
<table class="table table-striped text-center table_index" >
  <thead>
    <tr>
      <th scope="col "></th>
      <th scope="col ">投稿日時</th>
      <th scope="col">投稿内容</th>
      <th scope="col ">投稿画像</th>
      <th scope="col ">リツイート</th>
      <th scope="col ">いいね</th>
      <th scope="col "></th>
    </tr>
  </thead>
  <tbody >
    <%@tweets.each do |tweet|%>
      <tr >
        <td >
          <% if tweet.retweet_flag? %>
            <button class="btn btn-info m-2 flag-btn" disabled >リツイート済</button>
          <% end %>
          <% if tweet.tweet_flag? %>
            <button class="btn btn-warning m-2 flag-btn" disabled>再投稿済</button>
          <% end %>
        </td>
        <td ><%= l tweet.tweet_created_at, format: :short%></td>
        <td class="box-read"><%= tweet.text %></td>
        <td style='width:100px height:100px' >
          <% tweet.media.each do |media| %>
            <%= image_tag media.media_url.to_s,size:'50x50',class: "m-1" %>
          <% end %>
        </td>
        <td><%= tweet.retweet_count%></td>
        <td><%= tweet.favorite_count%></td>
        <td><%= link_to "詳細", tweet,class:"btn btn-success my-auto"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tweets%>
