<h1>index</h1>
<%= @tweets.each do |tweet| %>
  <p><%= tweet.text %></p>
  <p><%= tweet.created_at %></p>
  <p><%= tweet.tweet_id %></p>
  <p><%= tweet.text %></p>
  <p><%= tweet.retweet_count %></p>
  <p><%= tweet.favorite_count %></p>
  <p><%= media.tweet_id %></p>
  <p><%= media.media_url %></p>
  <hr>
<% end %>
