<h1>index</h1>
<%= @response.body %>

<% if logged_in? %>
  <h2>ログイン中</h2>
  <p><%= @user.uid %></p>
  <p><%= @user.nickname %></p>
  <p><%= @user.name %></p>
  <p><%= @user.image %></p>
<% else %>
  <h2>ログインしていません</h2>
<% end %>
