<h1><%= @user.nickname%>さんのtweet一覧 &nbsp; ツイート総数：<%= @all_tweet_count %>件</h1>
<%= render 'flash' %>
<%# 検索ボックス %>
<%= search_form_for @q do |f| %>
  <table class="table table-bordered table_search">
    <tbody>
      <tr>
        <th scope="row"><%= f.label :tweet_flag %></th>
        <td>
          <%= f.radio_button :tweet_flag_eq, true %>含める
          <%= f.radio_button :tweet_flag_eq, false %>含めない
        </td>
        <td rowspan= 5 vAlign=middle class="pb-o">
          <%= f.submit "絞り込む" ,class:"btn btn-primary "%>
        </td>
      </tr>
      <tr>
        <th scope="row"><%= f.label :retweet_flag %></th>
        <td>
          <%= f.radio_button :retweet_flag_eq, true %>含める
          <%= f.radio_button :retweet_flag_eq, false %>含めない
        </td>
      </tr>
      <tr>
        <th scope="row"><%= f.label :tweet_created_at %></th>
        <td>
          <%= f.radio_button :tweet_created_at_lteq, @now.ago(2.years)%>2年以上前
          <%= f.radio_button :tweet_created_at_lteq,@now.ago(1.years) %>1年以上前
          <%= f.radio_button :tweet_created_at_lteq	,@now.ago(6.month)%>半年以上前
        </td>
      </tr>
      <tr>
        <th scope="row"><%= f.label :retweet_count %></th>
        <td>
          <%= f.number_field :retweet_count_gteq,min:"0"%>以上〜
        </td>
      </tr>
      <tr>
        <th scope="row"><%= f.label :favorite_count %></th>
        <td>
          <%= f.number_field :favorite_count_gteq,min:"0"%>以上〜
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
<%# ツイート一覧表示 %>
<% if @tweets.blank?  %>
  <p class="text-center">該当データがありません。</p>
<% else %>
  <table class="table table-striped text-center table_index" >
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"><%= sort_link(@q, :tweet_created_at, "投稿日時" ,{ default_order: :desc }, { class: "Editlink" }) %></th>
      <th scope="col">投稿内容</th>
      <th scope="col">投稿画像</th>
      <th scope="col"><%= sort_link(@q, :retweet_count, "リツイート数", { default_order: :desc }, { class: "Editlink" }) %></th>
      <th scope="col"><%= sort_link(@q, :favorite_count, "いいね数", { default_order: :desc }, { class: "Editlink" }) %></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody >
      <%@tweets.each do |tweet|%>
        <tr>
          <%= render partial: 'flag_btn', locals: { tweet: tweet }%>
          <td ><%= l tweet.tweet_created_at, format: :short%></td>
          <td class="box-read"><%= tweet.text %></td>
          <td class="media-row" >
            <% tweet.media.each_with_index do |media,index| %>
              <% if index==0 %>
                <%= image_tag media.media_url.to_s,class: "tweet_media m-1 " %>           
              <% end %>
            <% end %>
          </td>
          <td><%= tweet.retweet_count%></td>
          <td><%= tweet.favorite_count%></td>

          <td><%= link_to "詳細", tweet,class:"btn btn-success my-auto"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @tweets%>
<% end %>





