<div class="container text-center tweet_save_form">
  <h2 class="mt-5">ツイートの保存</h2>
  <%= render 'flash' %>
  <div class="bg-light p-4">
    <%= form_with model: @tweet, url: search_tweets_path, local: true do |f| %>
      <div class="mx-5 card border border-primary" style="height: 7rem;">
        <div class="card-header text-primary border-primary">
          <h6><b>条件を指定して取得</b></h6>
        </div>
        <div class="px-5 card-body">
          <h6>
            <span class="radio-button-space">
              <label>
                <%= f.radio_button :period, search_period(10.years, 1.year) %> 〜1年前
              </label>
            </span>
            <label>
              <%= f.radio_button :period, search_period(1.year, 0.year) %> 1年前〜現在
            </label>
          </h6>
        </div>
      </div>
        
      <% if session[:last_search_created_at] %>
        <div class="mx-5 mt-4 card border border-danger" style="height: 8rem;">
          <div class="card-header text-danger border-danger">
            <h6><b>前回のデータから取得</b></h6>
          </div>
          <div class="px-4 card-body">
            <h6><label>
              <%= f.radio_button :period, "before_query" %>
              <%= l before_query_first_day, format: :short %>〜<br>
              <div><%= l before_query_last_day, format: :short %></div>
            </label></h6>
          </div>
        </div>
      <% end %>
      <div class="p-4 m-2">
        <h5><label>取得するツイートの件数</label></h5>
        <h5><label><%= f.select :count, order_tweet_count %></label></h5>
      </div>
      <div class="mb-1">
        <%= f.submit "取得する", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>