<h2 class="text-center mt-5 mb-3">ツイートの詳細</h2>
<%= render 'flash' %>
<table class="table table-bordered  mt-5 mx-auto table-show ">
  <tbody >
    <tr>
      <th scope="col">再投稿の状態</th>
        <%= render partial: 'flag_btn_add_post_time', locals: { tweet: @tweet }%>
    </tr>
    <tr>
      <th scope="col">投稿日時</th>
      <td><%= l @tweet.tweet_created_at, format: :short%></td>
    </tr>
    <%= render partial: 'show_column', locals: { heading: "投稿内容",column_data: @tweet.text}%>
    <tr>
      <th scope="col" class="">画像</th>
      <td>
        <% @tweet.media.each do |media| %>
          <%# binding.pry %>
        <%= image_tag media.media_url.to_s,class: "show_tweet_media m-1" if media.media_url? %>
        <% end %>
      </td>
    </tr>
    <%= render partial: 'show_column', locals: { heading: "リツイート数",column_data: @tweet.retweet_count}%>
    <%= render partial: 'show_column', locals: { heading: "いいね数",column_data: @tweet.favorite_count}%>
  </tbody>
</table>
<div class="text-right my-3 h6" style="width:90%;">
  <input type="button" class="text-muted" id="link_back" value="ツイートの一覧へ戻る">
  
  <script>
    const reloadPage = async () => {
      console.log("reloadかいし")
      await location.reload()
      console.log("reload終了")
    }

    var link_back = document.getElementById("link_back");
    link_back.addEventListener("click", () => {
      reloadPage()
      history.back() 
      console.log("history.back終了")
    });
  </script>



</div>
<div class="text-center">
  <button type="button" class="btn btn-warning mx-2 method-btn" data-toggle="modal" data-target="#modal2" value=@tweet>
    再投稿する
  </button>
  <%= render 'tweet_modal' %>
  <button type="button" class="btn btn-info m-2 method-btn " data-toggle="modal" data-target="#modal1" value=@tweet>
    リツイートする
  </button>
  <%= render 'retweet_modal' %>
</div>

