<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <% if logged_in? %>
      <ul class="navbar-nav ">
        <li class="nav-item">
        <%= link_to 'ツイートの保存', new_tweet_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
       <%= link_to 'ツイートの一覧', root_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
             <p class="nav-link my-auto mr-4">ログインアカウント： @<%= current_user.nickname %></p>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', logout_path, class: "nav-link nav-item"  %>
        </li>
      </ul>
    <% else %>
    <div class="navbar-nav "> <%= link_to 'ログイン', "/auth/twitter" , class: "nav-link nav-item" %></div>
    <% end %>
  </div>
</nav>

